[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kylert/Desktop/Just A Little Bit Of Your Heart.mp3]
row=1
col=20

[/home/kylert/Desktop/Love-You-A-Latte-Capstone-main.zip]
row=2
col=20

[/home/kylert/Desktop/Screenshot_2021-09-28_18-01-31.png]
row=3
col=20

[/]
row=0
col=20

