[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kylert/Desktop/Just A Little Bit Of Your Heart.mp3]
row=1
col=20

[/home/kylert/Desktop/dkms_2.8.1-5ubuntu1_all.deb]
row=2
col=20

[/home/kylert/Desktop/dctrl-tools_2.24-3_amd64.deb]
row=3
col=20

[A34A-D66B]
row=4
col=20

[/]
row=0
col=20

