[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kylert/Desktop/mb_utility_windowsimagetool_z370.zip]
row=0
col=16

[/home/kylert/Desktop/zen_installer-2019.10.04-x86_64.1.iso]
row=0
col=15

[/home/kylert/Desktop/390687531-Logic-3e-by-Stan-Baronett.pdf]
row=6
col=17

[/home/kylert/Desktop/Pauline's Video Project]
row=5
col=17

[/home/kylert/Desktop/Screenshot_2019-09-19 Twitch.png]
row=1
col=16

[/home/kylert/Desktop/Daily Workouts.odt]
row=8
col=17

[/home/kylert/Desktop/Screenshot_2019-09-26_20-27-05.png]
row=2
col=16

[/home/kylert/Desktop/arch-park-dsc_0636-cr1.jpg]
row=7
col=17

[/home/kylert/Desktop/1]
row=3
col=17

[/home/kylert/Desktop/Screenshot_2019-10-04 Facebook Marketplace.png]
row=4
col=16

[/home/kylert/Desktop/Thumbs.db:encryptable]
row=7
col=16

[/home/kylert/Desktop/Screenshot_2019-10-02 IT Flexible Apprenticeship Information Session.png]
row=3
col=16

[/home/kylert/Desktop/Thumbs.db]
row=6
col=16

[/home/kylert/Desktop/Screenshot_2019-10-06_21-39-35.png]
row=5
col=16

[/home/kylert/Desktop/GIA2019]
row=4
col=17

[/home/kylert/Desktop/Wm11fA1rPq6JpBmP.mp4]
row=8
col=16

[2ca675b1-f8d3-483f-be20-286b04adfdc5]
row=2
col=17

[Trash]
row=1
col=17

[/]
row=0
col=17

